@font-face {
    font-family: "IvyMode Regular";
    src: url('../fonts/IvyMode-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Natalie";
    src: url('../fonts/Natalie.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}